.loginPageBody{
     position: relative;
  width: 100%; 
  height: calc(100vh - 185px);
 
  top: calc(100vh - 91vh);
  padding-top: 100px;

  background-image: url('../../pictures/notepad-1130743_1280.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-clip: border-box;
}