.containerContacts{
    position: relative;
    display: block;
    background-color: #3a3939;
    padding-top: 80px;
    width: 100%;
    max-width: 1300px;
}


.boxTitle{
    display: block;
    color: white;
    /* font-size: 40px; */
}

.boxForm{
   position: fixed;
   padding-top: 30px;
   background-color: #3a3939;
   width: 100%;
   max-width: 1300px;
   background-color: #3a3939;
   border-radius: 15px;
}
.boxContacts{
    padding-top: 270px;
}

@media screen and (max-width: 1100px) {
  .boxContacts {
  padding-top: 400px;
  }
}