.containerHeader{
    position: fixed;
    width: 100%;
    max-width: 1000px;
    z-index: 99;
    
}
.container{
    display: flex;
    justify-content: space-between;
    padding: 15px;
    border-bottom:  1px solid white;
    height: 50px;
    background-color:  #3a3939;
}

.AuthContainer{
    display: flex;
   gap: 20px;
}
.text{
    color: white;
    text-decoration: none;
    font-size: 25px;
    padding: 5px 10px 5px 10px;
}


.text2{
    color: white;
    text-decoration: none;
    font-size: 30px;    
}
.text2:focus,
.text2:active {
  color: #1a93ac;
}

.btn{
    background-color: #3a3939;
}