.containerHeader{
    position: fixed;
    width: 100%;
    max-width: 1000px;
    
    
}
.container{
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding: 15px;
    border-bottom:  1px solid white;
    background: #3a3939;
    height: 50px;
}

.AuthContainer{
    display: flex;
   gap: 20px;
}
.text{
    color: white;
    text-decoration: none;
    font-size: 25px;
    background-color: rgb(204, 204, 88);
    border-radius: 15px;
    padding: 5px 30px 5px 30px;
     transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.text:focus,
.text:active {
  background-color: #1a93ac;
}

.text:hover{
background-color: #1c6b7b;
}

.text2{
    color: white;
    text-decoration: none;
    font-size: 30px;    
}
.text2:focus,
.text2:active {
  color: #1a93ac;
}

.btn{
    background-color: #3a3939;
}