.conteinerContactList{
    width: 500px;
    padding: 20px;
    margin-left: auto;
    /* margin-right: auto; */
}

.contactList{
    padding: 0;
    margin: 0;
    min-width: 500px
}

.contactInfo{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    font-size: 25px;
    font-weight: 400;
}

.contactName{
    word-wrap: break-word;
    max-width: 200px;    
    min-width: 200px; 
    padding-right: 60px;
    color: white;
    /* background-color: yellow; */
}

.contactPhone{
    word-wrap: break-word;
    max-width: 200px;
    min-width: 200px; 
    color: white;
    /* background-color: red; */
}

.btnContact{
   background-color: #3a3939;
    border-radius: 5px;
    height: 30px;
}

.errorText{
    color: white;
    font-size: 30px;
}