.containerHomePage {
  position: relative;
  width: 100%; 
  height: calc(100vh - 185px);
  top: 85px;
  padding-top: 100px;

  background-image: url('../../pictures/notepad-1130743_1280.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-clip: border-box;
}

.textHome {
  text-align: center;
  font-size: 30px;
  color: white;
}
